/***** NAVBAR *****/

.navbar {
    background-color: #549b42;
    border-radius: 0;
}

/*old colors used: 42999b (teal). */

/* Navbar title */
.navbar-default .navbar-brand {
    color: white;
    font-size: px;
    font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #9af1f2;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    padding: 10px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #255556;
    border-radius: 4px;
    border: 1px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #9af1f2;
    color: #242424;
    fill: #242424;
    border-color: #fff;

}

/*** JUMBOTRON ***/

.jumbotron {
    background-image: url("https://github.com/sbleibowitz-crypto/portfolio/blob/54c900bc51e2726f3ac0dacb86b96152ea97380a/assets/roundaboutsG572Lab1Content/roundabout_1_copy.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    text-align: center;
    color: #fff;
    padding: 3%;
    border-radius: 0px;
}

.jumbotron h2 {
    font-size: 36px;
    font-weight: bold;
}

.img-responsive{
    width:100%;
}





/*** CARD ***/

.card {
    background-color: #fff;
    border-color: #cccccc;
    border-width: 1px;
    width: 100%;
}

.card:hover {
    border-color: #549b42;
}

/*** Basic Text Styles ***/

#about-world {
    max-width: 100%;
}

.resume h3 {
    font-weight: bold;
}


hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
}

a {
    color: #549b42;
}

a:hover {
    color: #9af1f2;
}

.container{
    padding:25px 0;
}

body {

    font-family: 'Georgia', serif;
    background-color: #f5faf1;
    color: #242424;
}


.iframe-wrapper {
  display: flex;
  justify-content: center;   /* centers the iframe horizontally */
  margin: 40px 0;            /* white space above and below */
}

.iframe-container {
  width: 90%;                /* iframe takes 80% of page width */
  height: 100vh;             /* fills full viewport height */
  border: none;
}
