@font-face {
  font-family: 'Helvetica Rounded';
  src: url('/fonts/helvetica-255/helvetica-rounded-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1{
    color:#e51837;
    font-size:40px;
    font-family: 'Helvetica Rounded', sans-serif;
}


body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

p{
    font-size:20px;
}

.map-frame {
  width: 100%;
  height: 100vh;
  border: 2px solid #ccc;
  display: block;
}




